.white {
  color: $white;
  fill: $white;
}

.base {
  color: $baseColor;
  fill: $baseColor;
}

.red {
  color: $red;
  fill: $red;
}

.blue {
  color: $blue;
  fill: $blue;
}

.blue-dark {
  color: $blueDark;
  fill: $blueDark;
}

.blue-darker {
  color: $blueDarker;
  fill: $blueDarker;
}

.green {
  color: $green;
  fill: $green;
}

.gray {
  color: $gray;
  fill: $gray;
}

.gray-dark {
  color: $grayDark;
  fill: $grayDark;
}

.gray-darker {
  color: $grayDarker;
  fill: $grayDarker;
}

.gray-light {
  color: $grayLight;
  fill: $grayLight;
}

.gray-lighter {
  color: $grayLighter;
  fill: $grayLighter;
}
