@font-face {
  font-family: 'Lora';
  src: url('~@/assets/fonts/subset-Lora-Regular.woff') format('woff'),
    url('~@/assets/fonts/subset-Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('~@/assets/fonts/subset-Lora-Bold.woff') format('woff'),
    url('~@/assets/fonts/subset-Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/subset-TTNorms-Light.woff') format('woff'),
    url('~@/assets/fonts/subset-TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/subset-TTNorms-Medium.woff') format('woff'),
    url('~@/assets/fonts/subset-TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/subset-TTNorms-Bold.woff') format('woff'),
    url('~@/assets/fonts/subset-TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('~@/assets/fonts/subset-TTNorms-Regular.woff') format('woff'),
    url('~@/assets/fonts/subset-TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
