mixin sidebar
  .fixed-sidebar-left
    ul.nav.navbar-nav.side-nav.nicescroll-bar.pt-20.pb-20#nav
      li
        a(href="/measure-list.html")
          .pull-left
            span.right-nav-text Единицы Измерения
          .clearfix
      li
        a(href="/values-list.html")
          .pull-left
            span.right-nav-text Список значений
          .clearfix
      li
        a(href="/characteristics-list.html")
          .pull-left
            span.right-nav-text Характеристики
          .clearfix
      //- li
      //-   a(href="/specifications-list.html")
      //-     .pull-left
      //-       span.right-nav-text Характеристики
      //-     .clearfix